.bg {
  position: fixed;
  background: hsl(0, 2%, 11%);
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.inner_ctn {
  position: absolute;
  width: 100%;
}

.main {
  position: relative;
  width: 90%;
  height: auto;
  margin: 8em auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  opacity: 1;
  border-radius: 15px;
  padding: 1.2em;
  z-index: 10;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0.9em 0;
}

.header svg {
  cursor: pointer;
}

.main p {
  color: hsl(0, 0%, 48%);
  line-height: 1.5em;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 79%);
  padding: 1.1em;
  border-radius: 15px;
  margin: 1em 0;
  cursor: pointer;
}

.card h2 {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 0.2em 0 0.5em 0;
}

.card h2 .pledge {
  color: hsl(176, 50%, 47%);
}

.card_info {
  color: hsl(0, 0%, 48%);
  line-height: 1.5em;
  font-size: 1em;
  margin: 1.5em 0;
}

.flex {
  display: flex;
  align-items: center;
}

.flex p {
  color: hsl(0, 0%, 48%);
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.card button {
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 34px;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background: hsl(176, 50%, 47%);
  outline: none;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.card button:hover {
  background: hsl(176, 72%, 28%);
}

.card:nth-child(4) button {
  background: hsl(0, 0%, 48%);
}

.card:nth-child(4) {
  opacity: 0.4;
}

.top {
  display: flex;
  align-items: center;
}

.top .radio {
  margin-right: 1.5em;
  height: 30px;
  width: 30px;
  border: 1px solid hsl(0, 0%, 48%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: hsl(176, 50%, 47%);
  margin: auto;
}

.card:nth-child(4) .radio .check {
  background: white;
}

.card hr {
  background: hsl(0, 0%, 48%);
  opacity: 0.2;
  margin: 0.4em -1.1em 0.4em;
}

.active {
  border: 1px solid hsl(176, 50%, 47%);
}

.input_pledge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.input_pledge p {
  margin: 1em 0;
  color: hsl(0, 0%, 48%);
  font-size: 1em;
}

.input input {
  position: relative;
  padding: 1.1em 1.1em 1.1em 2em;
  border-radius: 34px;
  width: 100px;
  border: 1px solid hsl(0, 2%, 78%);
  outline: none;
  font-size: 1em;
  font-weight: 700;
}

.input input:focus {
  border: 1px solid hsl(176, 72%, 28%);
}

.input {
  position: relative;
}

.input p {
  position: absolute;
  top: 15px;
  left: 15px;
  color: hsl(0, 0%, 48%);
  font-size: 1.2em;
  margin: 0;
}

@media (min-width: 600px) {
  .main {
    width: 60%;
    align-items: flex-start;
    padding: 2.5em;
  }

  .card h2 {
    flex-direction: row;
  }

  .card h2:hover {
    color: hsl(176, 50%, 47%);
  }

  .card_info {
    order: 3;
  }
  .card h2 .pledge {
    margin-left: 0.7em;
  }

  .flex {
    order: 2;
    margin-left: auto;
    margin-top: -30px;
  }
  .card hr {
    background: hsl(0, 0%, 48%);
    opacity: 0.2;
    margin: 0.4em -1.1em 0.4em;
    order: 4;
  }

  .card_info {
    margin-left: 3em;
  }

  .input_pledge {
    order: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .form {
    width: auto;
    margin-left: auto;
  }

  .input input {
    margin-right: 2em;
  }

  .top:hover {
    color: hsl(176, 50%, 47%);
  }

  .top .radio:hover {
    border: 1px solid hsl(176, 50%, 47%);
  }
}
